.has-fixed-nav {
  padding-top: 50px;
}

.is-fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

section h2 {
  font-family: "GTA",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

  &,
  &.title.is-1 {
    font-size: 4rem;
    line-height: 80%;
  }
}
