.main-header {
  background: $golden;

  .is-transparent {
    background-color: transparent;
  }

  .navbar-link.is-active,
  .navbar-link:hover,
  a.navbar-item.is-active,
  a.navbar-item:hover,
  .navbar-burger:hover {
    background-color: #a28f5f;
  }

  .navbar-brand .navbar-item {
    color: #fff;
    font-family: "GTA",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2rem;
    // line-height: 90%;
    // margin-bottom: 2rem;
    text-shadow:
       3px 3px 0 #000,
     -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
  }
}
