#info {
  overflow: hidden;

  figure {
    text-align: center;
    max-width: 100%;

    img {
      max-width: 400px;
    }

    @media (min-width: 769px) {
      & {
        padding-left: 1rem;
        float: right;
        width: 300px;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
