@font-face {
  font-family: 'pricedownblack';
  src: url('../fonts/pricedown_bl-webfont.woff2') format('woff2'),
       url('../fonts/pricedown_bl-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
